<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Złota Rzeka</title>
  <style>
    body {
      text-align: center;
      font-family: 'Roboto', sans-serif;
    }
    h1 {
      text-align: center;
    }
    p {
      text-align: center;
    }
    h2 {
      text-align: center;
      font-weight: bold;
    }
    h4 {
      text-align: center;
      font-weight: bold;
    }
    h5 {
      text-align: center;
      font-weight: bold;
    }
    hr {
      margin: 20px auto;
      width: 80%;
    }
    .full-width-image {
      width: 100%;
    }

    .paragraph {
      margin-left: 20%;
      margin-right: 20%;
    }
    .image-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }

    .image-container img {
      width: 100%;
      height: auto;
    }
  </style>
</head>
<body>
<h1>ZŁOTA RZEKA</h1>
<p class="paragraph">
  Jeśli szukasz intymnego miejsca na relaks, miejsca na prawdziwy urlop; odwiedź Złotą Rzekę w Majdanie Sieniawskim.Domy położone w samym sercu wsi otoczonej lasami, tu będziesz mieć okazję doświadczyć prawdziwego odpoczynku, na odludziu. Przyjeżdżaj do nas odpoczywać na wakacje, regenerować siły podczas weekendowych wypadów, cieszyć się luksusem w odosobnionym miejscu. W Majdanie Sieniawskim czeka na Ciebie wypoczynek jedyny w swoim rodzaju: szum drzew, czyste powietrze obfitujące w jod, śpiew ptaków i bliski kontakt z naturą. W Złotej Rzece zapewnimy Tobie i Twoim najbliższym komfortowe warunki w pełni wyposażonych, nowoczesnych domkach; idealnych dla rodziny 2+2+2 w których wieczory spędzane przy pięknym widoku na staw będą miały wyjątkowy klimat. Tu też zrelaksujesz się w całorocznym podgrzewanym basenie oraz jacuzzi i oczyścisz organizm w saunach mającyh bezpośredni widok na staw.
</p>
<p class="paragraph">
  Domy ulokowane na małej wsi, to coś dla miłośników ciszy i spokoju, którzy mogą delektować się niepowtarzalnymi widokami na staw i otaczające go lasy. Tu nacieszysz się turystyką w rytmie slow bez szczególnego planu, po prostu poddając się rytmowi dnia codziennego.
</p>
<p>
  Przyjeżdżaj do nas i ciesz się odrobiną luksusu na odludziu.
</p>

<hr>

<div class="image-container">
  <img src="assets/images/domek1.jpeg" alt="domek1" width="500" height="600">
  <img src="assets/images/domek6.jpeg" alt="domek6" width="500" height="600">
</div>
 <p></p>


<h2>2 DOMY O POWIERZCHNI</h2>
<h2>ok. 50m² każdy dla 6-7 osób</h2>
<h4>Parter</h4>
<h5>Salon z aneksem kuchennym:</h5>
<p class="paragraph">
  Otwarte pomieszczenie połączone z kuchnią i jadalnią, z sofą (dwa miejsca do spania) oraz TV z dostępem do Netflixa i bezpośrednie wyjście na taras do ogrodu.
</p>
<h5>Łazienka:</h5>
<p class="paragraph">
  Łazienka z prysznicem i wc, wyposażona w ręczniki, papier toaletowy, suszarkę do włosów, mydło.
</p>
<h5>Antresola:</h5>
<p class="paragraph">
  Antresola podzielona na dwie strefy. Jedna część z łóżkiem dwuosobowym i meblami, druga część z sofą (dwuosobową). Nad częścią salonu rozwieszona jest siatka, na której można siedzieć/spać (maks. obciążenie: 500kg).
</p>

<hr>

<div class="image-container">
  <img src="assets/images/domek3.jpeg" alt="domek3" width="500" height="600">
  <img src="assets/images/domek4.jpeg" alt="domek4" width="500" height="600">
</div>

<h4>UDOGODNIENIA W OBIEKCIE</h4>
<ul>
  <li>Klimatyzacja w salonie</li>
  <li>Ogrzewanie podłogowe</li>
  <li>Dodatkowe ogrzewanie z klimatyzacji</li>
  <li>Zasłony zaciemniające w oknach</li>
  <li>Wyjście na taras z pięknym widokiem na okolicę</li>
  <li>W pełni wyposażona kuchnia w niezbędne sprzęty AGD oraz akcesoria do gotowania</li>
  <li>Łazienka wyposażona w suszarkę do włosów, papier toaletowy, mydło</li>
  <li>W sypialniach dla każdego z gości przygotowaliśmy komplet ręczników (2 szt. na osobę)</li>
  <li>WI-FI - światłowód</li>
  <li>Dobry zasięg sieci komórkowych</li>
  <li>Suszarka rozstawiana na ubrania</li>
  <li>TV w salonie z dostępem do Netflixa</li>
</ul>

<h5>Dodatkowo:</h5>
<ul>
  <li>W okolicy paintball w lesie, organizowany przez nas</li>
</ul>

<hr>

<div class="image-container">
  <img src="assets/images/domek2.jpeg" alt="domek2" width="500" height="600">
  <img src="assets/images/domek5.jpeg" alt="domek5" width="500" height="600">
</div>

<h4>UDOGODNIENIA NA POSESJI</h4>
<ul>
  <li>Sauny zewnętrzne: mokra i sucha oraz prysznic</li>
  <li>Jacuzzi</li>
  <li>Taras widokowy przy basenie z miejscem na leżaki</li>
  <li>Teren ogrodzony i zamykany</li>
  <li>Pięknie zagospodarowany ogród z różnorodnymi roślinami kwitnącymi</li>
  <li>Meble ogrodowe</li>
  <li>Leżaki</li>
  <li>Przygotowane miejsce na ognisko</li>
  <li>Grill z przyrządami do grillowania</li>
  <li>Bliskość lasu obfitego w grzyby</li>
  <li>Mała rzeczka nieopodal domu</li>
</ul>

<hr>

<h4>SPRZĄTANIE</h4>
<img src="assets/images/sprzatanie.jpeg" alt="Sprzątanie" style="width: 100px">
<p class="paragraph">
  Dom jest gruntownie sprzątany i dezynfekowany przed Twoim przyjazdem. W trakcie pobytu możesz dbać o porządek, korzystając z dostarczonych środków czystości (zapewniamy ścierkę, płyn do mycia, myjkę i tabletki do zmywarki) oraz sprzętów codziennego użytku.
</p>

<hr>

<h4>WYŻYWIENIE</h4>
<img src="assets/images/kucharz.jpeg" alt="Kucharz" style="width: 100px">
<p class="paragraph">
  Nasz dom powstał po to, by zapewnić Ci prywatność oraz poczucie niezależności. Dlatego nie ingerujemy w Twoje wybory kulinarne – jesz wtedy, kiedy chcesz i to, na co masz ochotę. Te najprostsze oraz najbardziej wykwintne dania przygotujesz we w pełni wyposażonej kuchni, którą oddajemy w Twoje ręce. Znajdziesz w niej: lodówkę z zamrażarką, płytę indukcyjną, kuchenkę mikrofalową, zmywarkę do naczyń, czajnik elektryczny, ekspres do kawy, wielofunkcyjny toster/opiekacz, kieliszki do różnych trunków, kompletną zastawę stołową (talerze, miski, szklanki, kubki), sztućce, sól, pieprz, cukier.
</p>

<hr>

<h4>DLA DZIECI</h4>
<p class="paragraph">
  Wspaniała przestrzeń i bliskość natury to to, co dzieciaki uwielbiają najbardziej. Zielony teren wokół domu mogą eksplorować do woli. Będzie to niezapomniane miejsce wakacyjnych zabaw, które na długo zostanie w ich pamięci. W domkach na odludziu polecamy urządzić rodzinny piknik, rozkładając koc w ogrodzie i zajadając się lokalnymi smakołykami. Polecamy leśne spacery.
</p>

<hr>

<h4>CO Z PUPILAMI</h4>
<img src="assets/images/pies.jpeg" alt="Pies" style="width: 100px">
<p class="paragraph">
  Zwierzęta są u nas mile widziane. Zapraszamy z dobrze ułożonymi, dorosłymi małymi i średnimi psami. Pamiętaj odpowiadasz za utrzymanie porządku na terenie po swoim pupilu. Opłata za psa jest wyszczególniona w cenniku.
