
<H1>NASZE DOMKI</H1>
<h2>Domek - MIĘTA</h2>
<p>Domki letniskowe Mięta to idealne miejsce na wypoczynek dla całej rodziny. Domki są w pełni wyposażone, posiadają aneks kuchenny, łazienkę, salon z TV, sypialnię oraz taras. W domkach znajdują się 6 miejsc noclegowych. W domkach obowiązuje zakaz palenia. W domkach nie ma możliwości przyjęcia zwierząt.</p>
<img src="assets/images/domek1.jpeg" alt="domek1" width="250" height="333">
<img src="assets/images/domek3.jpeg" alt="domek1" width="250" height="333">
<img src="assets/images/domek4.jpeg" alt="domek1" width="250" height="333">

<h2>Domek - GRANAT</h2>
<p>Domki letniskowe to idealne miejsce na wypoczynek dla całej rodziny. Domki są w pełni wyposażone, posiadają aneks kuchenny, łazienkę, salon z TV, sypialnię oraz taras. W domkach znajdują się 6 miejsc noclegowych. W domkach obowiązuje zakaz palenia. W domkach nie ma możliwości przyjęcia zwierząt.</p>

