<div>
  <mat-card class="full-width">
    <mat-card-title>Galeria</mat-card-title>
    <img mat-card-image src="/assets/images/domek1.jpeg" height="300px" alt="domek">
    <mat-card-content>Opis do zdjecia</mat-card-content>
  </mat-card>

  <mat-card class="full-width">
    <mat-card-title>Galeria</mat-card-title>
    <img mat-card-image src="/assets/images/domek2.jpeg" height="300px" alt="domek">
    <mat-card-content>Opis do zdjecia</mat-card-content>
  </mat-card>

  <mat-card class="full-width">
    <mat-card-title>Galeria</mat-card-title>
    <img mat-card-image src="/assets/images/domek3.jpeg" height="300px" alt="domek">
    <mat-card-content>Opis do zdjecia</mat-card-content>
  </mat-card>

  <mat-card class="full-width">
    <mat-card-title>Galeria</mat-card-title>
    <img mat-card-image src="/assets/images/domek4.jpeg" height="300px" alt="domek">
    <mat-card-content>Opis do zdjecia</mat-card-content>
  </mat-card>

</div>
